<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl03"></bean>
    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>

    <beans profile="dev">
        <bean id="userService01" class="com.itheima.service.impl.UserServiceImpl03"></bean>
    </beans>
    <beans profile="test">
        <bean id="userDao01" class="com.itheima.dao.impl.UserDaoImpl"></bean>
    </beans>


</beans>