<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl02">
        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userDaoList">
            <list>
                <!--<bean class="com.itheima.dao.impl.UserDaoImpl"></bean>
                <bean class="com.itheima.dao.impl.UserDaoImpl"></bean>
                <bean class="com.itheima.dao.impl.UserDaoImpl"></bean>-->
                <ref bean="userDao1"></ref>
                <ref bean="userDao2"></ref>
                <ref bean="userDao3"></ref>
            </list>
        </property>
        <property name="stringSet">
            <set>
                <value>ddd</value>
                <value>eee</value>
                <value>fff</value>
            </set>
        </property>
        <property name="userDaoSet">
            <set>
                <!--<bean class="com.itheima.dao.impl.UserDaoImpl"></bean>
                <bean class="com.itheima.dao.impl.UserDaoImpl"></bean>
                <bean class="com.itheima.dao.impl.UserDaoImpl"></bean>-->
                <ref bean="userDao1"></ref>
                <ref bean="userDao2"></ref>
                <ref bean="userDao3"></ref>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="d1" value-ref="userDao1"></entry>
                <entry key="d2" value-ref="userDao2"></entry>
                <entry key="d3" value-ref="userDao3"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>
    <bean id="userDao1" class="com.itheima.dao.impl.UserDaoImpl"></bean>
    <bean id="userDao2" class="com.itheima.dao.impl.UserDaoImpl"></bean>
    <bean id="userDao3" class="com.itheima.dao.impl.UserDaoImpl"></bean>
</beans>