<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>321</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.itheima.servlet.demo.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletTttp</servlet-name>
    <servlet-class>com.itheima.servlet.demo.ServletTttp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTttp</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDemo</display-name>
    <servlet-name>servletDemo</servlet-name>
    <servlet-class>com.itheima.servlet.demo.servletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo</servlet-name>
    <url-pattern>/servletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletISD</servlet-name>
    <servlet-class>com.itheima.servlet.demo.ServletISD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletISD</servlet-name>
    <url-pattern>/servletISD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStartLoad</servlet-name>
    <servlet-class>com.itheima.servlet.demo.ServletStartLoad</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStartLoad</servlet-name>
    <url-pattern>/servletStartLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletService</servlet-name>
    <servlet-class>com.itheima.servlet.demo.ServletService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletService</servlet-name>
    <url-pattern>*.serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGetConfig</display-name>
    <servlet-name>ServletGetConfig</servlet-name>
    <servlet-class>com.itheima.servlet.demo.ServletGetConfig</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetConfig</servlet-name>
    <url-pattern>/ServletGetConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextGetWeb</display-name>
    <servlet-name>ServletContextGetWeb</servlet-name>
    <servlet-class>com.itheima.servlet.demo.servletcontext_.ServletContextGetWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextGetWeb</servlet-name>
    <url-pattern>/ServletContextGetWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextGetFile</display-name>
    <servlet-name>ServletContextGetFile</servlet-name>
    <servlet-class>com.itheima.servlet.demo.servletcontext_.ServletContextGetFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextGetFile</servlet-name>
    <url-pattern>/ServletContextGetFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextGetAttribute1</display-name>
    <servlet-name>ServletContextGetAttribute1</servlet-name>
    <servlet-class>com.itheima.servlet.demo.servletcontext_.ServletContextGetAttribute1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextGetAttribute1</servlet-name>
    <url-pattern>/ServletContextGetAttribute1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextGetAttribute2</display-name>
    <servlet-name>ServletContextGetAttribute2</servlet-name>
    <servlet-class>com.itheima.servlet.demo.servletcontext_.ServletContextGetAttribute2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextGetAttribute2</servlet-name>
    <url-pattern>/ServletContextGetAttribute2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseSend</display-name>
    <servlet-name>ResponseSend</servlet-name>
    <servlet-class>com.itheima.servlet.demo.response_.ResponseSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseSend</servlet-name>
    <url-pattern>/ResponseSend</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ResponseSend2</display-name>
    <servlet-name>ResponseSend2</servlet-name>
    <servlet-class>com.itheima.servlet.demo.response_.ResponseSend2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseSend2</servlet-name>
    <url-pattern>/ResponseSend2</url-pattern>
  </servlet-mapping>
</web-app>