<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--组件扫描-->
    <context:component-scan base-package="com.itheima"/>
    <!--使用代理配置AOP，需要开启AOP自动代理,不配置就不会自动加载前置通知-->
    <aop:aspectj-autoproxy/>

    <!--配置目标类
    <bean id="userService08" class="com.itheima.service.impl.UserServiceImpl"></bean>
    &lt;!&ndash;配置通知类&ndash;&gt;
    <bean id="myAdvice08" class="com.itheima.advice.MyAdvice08"></bean>

    &lt;!&ndash;<bean class="com.itheima.processor.MorkAopBeanPostProcessor"></bean>

    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>&ndash;&gt;

    &lt;!&ndash;配置aop&ndash;&gt;
    <aop:config>
        &lt;!&ndash;配置切点表达式，目的是要指定哪些方法被增强&ndash;&gt;
        <aop:pointcut id="myPointcut" expression="execution(* com.itheima.service..impl.*.*(..))"/>
        &lt;!&ndash;配置切入，目的是要执行哪些切点，与那些通知进行结合&ndash;&gt;
        <aop:aspect ref="myAdvice08">
            <aop:before method="beforeAdvice" pointcut-ref="myPointcut"/>
            <aop:after method="afterAdvice" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>-->

</beans>